<h1 id="traboonesocialmoderatorscovenant">Traboone Social Moderators' Covenant</h1>
<p>We, the adminstrators and moderators, of Traboone Social will commit to the following:</p>
<ol>
<li><strong>Administration and moderation will be handled as neutrally as possible.</strong> - All reports and widespread information on specific instances and users (often known as bad actors) will be verified and actions will be taken as necessary.</li>
<li><strong>Moderating our own users will be our top priority.</strong> - Our greatest priority will be in moderating our own users before the users of other instances.</li>
<li><strong>Actions taken against other instances and their users will respond to the bare minimum to keep federation going and not influence the ability of Traboone Social's users to connect to other people.</strong> - This means that when it comes to handling other instances and their users, we will take the following approach:<ul>
<li>If another instance's user spreads content of questionable legality in the United States, we may force the specific posts in question or the user to be unlisted.</li>
<li>If another instance's user is posting content illegal in the United States, spamming, or doxing, we will deactivate them and notify the administrators/moderators of the other instance about them.</li>
<li>If another instance does not take action against or fails to demonstrate competence in handling users posting illegal content, spamming, or doxing, a full instance block might be the last resort.</li></ul></li>
<li><strong>All actions taken by administrators and moderators will be communicated to the public.</strong> - The adminstrators and moderators of Traboone Social will be transparent with the public about any actions taken against users and other instances. We will disclose any instance blocks, along with reasoning, in a readable table on the About page.</li>
<li><strong>Administrators and moderators will not use blocklists or recommend blocks.</strong> - Blocklists and block recommendations lack accurate verification but can be taken for granted. We will not use other external blocklists from elsewhere to handle blocks.</li>
<li><strong>No blocking of other instances on the basis of guilt-by-association/federation.</strong> - If administrators and moderators have applied any action against Instance X, an Instance Y that federates with them will not get the same judgement applied to them. A natural connection, as by the fediverse network's design, does not imply shared interests and thus doesn't warrant the same moderation methods.</li>
</ol>
<h2 id="enforcement">Enforcement</h2>
<p>With the Traboone Social administrators and moderators' power comes great responsibility. When enforcing the Moderators' Covenant, we will take the following approach:</p>
<ul>
<li>If an administrator or moderator has been caught blocking or deactivating a user without reasoning, we may give them the benefit of the doubt, but we will kindly remind them to disclose their reasoning to the public.</li>
<li>If an adminstrator or moderator has been caught intentionally hiding the blocking of an instance, the banning or deactivation of a certain user, and/or the reasoning behind such decisions, we will temporarily suspend them from administering/moderating Traboone Social until they disclose to the public what they did and the reasoning.</li>
<li>If an administrator or moderator has been caught intentionally banning or deactivating a user or instance knowing they had no reason to, we will reverse the action in question and may suspend the administrator or moderator from administering/moderating Traboone Social for up to a week.</li>
<li>If an administrator or moderator has been caught intentionally doing any of the activity as an adminstrator or moderator repeatedly, we will permanently suspend them from administering/moderating Traboone Social.</li>
</ul>
<p>If you feel that a decision made by a Traboone Social administrator or moderator is unfair or have reason to believe that you were quietly banned or deactivated or had your instance blocked, please email <a href="mailto:info@sandiamesa.com">info@sandiamesa.com</a>.</p>
<p><em>This agreement for the administrators and moderators of Traboone Social is based on the <a href="https://code.sandiamesa.com/traboone/moderators-covenant">Traboone Social Moderators' Covenant</a>, which is slightly adapted from <a href="https://github.com/pixeldesu/fediverse-friendly-moderation-covenant">The Fediverse-Friendly Moderation Covenant</a> and licensed under CC0.</em></p>